<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center fw-bold">Edit Playground</h1>
    <div class="col-6 offset-3 fw-bold">
        <form action="/playgrounds/<%=playground._id%>?_method=PUT" method="POST" 
            novalidate class="validated-form" 
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="playground[title]" 
                    value="<%= playground.title %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="parkingSpots">Parking Spots</label>
                <input class="form-control" type="text" id="parkingSpots" name="playground[parkingSpots]" 
                    value="<%= playground.parkingSpots %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="playground[location]"
                value="<%= playground.location %>" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="playground[description]" required><%= playground.description %></textarea>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="iceCreamTruck">Ice Cream Truck Frequency</label>
                <select class="form-select" id="iceCreamTruck" name="playground[iceCreamTruck]" required>
                  <option selected><%= playground.iceCreamTruck%></option>
                  <option value="Ice Cream Trucks at least once per day">Ice Cream Trucks at least once per day</option>
                  <option value="Ice Cream Truck once per day or less">Ice Cream Truck once per day or less</option>
                  <option value="Infrequent or no Ice Cream Trucks">Infrequent or no Ice Cream Trucks</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label for="restrooms" class="input-group-text">Restrooms</label>
                <select class="form-select" id="restrooms" name="playground[restrooms]">
                  <option selected>Public restrooms: <%=playground.restrooms%></option>
                  <option value="Yes">Public Restrooms: Yes</option>
                  <option value="No">Public Restrooms: No</option>                          
                </select>
            </div>
            <div class="mb-3">
                <div class="mb-3">
                    <label class="form-label" for="formFileMultiple">Add Images</label>
                    <input type="file" class="form-control" name="image" id="formFileMultiple" multiple>
                </div>
            </div>
            <% if (playground.images.length > 0) { %>
                <p class="form-label">Select Images to Delete</p>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                    <% playground.images.forEach( (img, i) => { %>
                        <div class="col">
                            <div class="card">
                                <img class="card-img" src="<%=img.thumbnail%>">
                                <div class="card-img-overlay txt-end pt-1 pe-2">
                                    <label class="visually-hidden" for="image-<%= i %>">Delete?</label>
                                    <input class="form-check-input" type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                                </div>
                            </div>
                        </div>                    
                    <% }) %>
                </div>
            <% } %>
            <div class="mb-3"><button class="btn-success">Submit Changes</button></div>
        </form>
        <a href="/playgrounds/<%=playground._id%>">Back to <%= playground.title%></a>        
    </div>
</div>