<% layout('layouts/boilerplate')%>
<h1>All playgrounds</h1>
<div>
    <a href="/playgrounds/new">Add Playground</a>
</div>

<% for (let playground of playgrounds) {%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if (playground.images.length) { %>
                <img class="img-fluid" src="<%=playground.images[0].url%>" alt="">
                <% } else { %>
                    <img alt="" class="img-fluid"
                        src="https://res.cloudinary.com/mobyd/image/upload/v1620363986/PlaygroundPoint/playground_default_tvxots.png">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%=playground.title%></h5>
                    <p class="card-text"><%=playground.description%></p>
                    <p class="card-text">
                        <small class="text-muted"><%=playground.location%></small>
                    </p>
                    <a href="/playgrounds/<%=playground._id%>" class="btn btn-primary">View <%= playground.title%></a>
                </div>
            </div>
        </div>
    </div>
<% }%>


